   *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .boy{
        margin-left: 14cm;
        width: 200px;
        clip-path: circle();
    }
    body{
        background-color: #000000;
    }
   .graphics {
       margin-top: 1cm;
       margin-left: 2cm;
       width: 100px;
       height: 100px;
   }
    .tom{
        text-indent: 12px;
        font-size: 20px;
        font-family: Arial;
        margin-left: 2cm;
        color: white;
    }

    .tom:hover{
        color: red;
        animation-delay: 1ms;
        transition-property: all;
    }

    .p3 {
        background-color: rgba(7, 7, 3, 0.342);
        color: lawngreen;
    }
    .container-fluid{
        margin-right: 12cm;
        margin-left: 1.5cm;
        color: rgb(4, 184, 4);
        font-size: 20;
        font-family: sans-serif;
        font-weight: 500;
    }
        .photo {
            width: 680px;
            height: 400px;
            margin-left: 1cm;
            margin-top: 5px;
        }
    
        .top{
            color: #15ff00;
            margin-left: 13cm;
            margin-top: 1cm;
            font-size: 20px;
        }
        .top:hover{
            color:lightcoral
        }
    ul ol {
        list-style: none;
        display: block;
        font-family: monospace;
        }

    .wrapper {
        margin: 0 auto 0 60px;
        width: 1000px;

    }
   
    nav{
        width: 100%;
        height: 100px;
        background-color: rgba(3, 7, 4, 0.199);

    }

    ul {
        margin-left: 60;
    }

    ul li {
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;

    }

    ul li a {
        display: block;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        padding: 0 20px;
    }

    ul li a:hover {
        color: rgb(247, 94, 94);
        
    }

h1 {
   background-position-x: inherit;
    font-family: monospace;
    transition: linear  ;
}
    .end{
        margin-left: 2cm;
    width: 30cm;
    height: 8cm;
    }
     .card-blockkquote{
         font-family: 'Times New Roman', Times, serif;
     }

     .info {
         color: rgb(21, 177, 0);
         padding-top: 2cm;
     }
     
     .head{
         margin-left: 2cm;
         color: teal;
     }
     .links {
         text-decoration-color: none;
         text-decoration: none;
         margin-left: 1cm;
     }

     .links:hover{
         color: #f06e6e;
     }